@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: right;
	position: relative;
	align-items: center;
	z-index: 100;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: #0a0a0a;
}

.nav-flex-row li {
	text-decoration: none;
	list-style-type: none;
	padding: 20px 15px;
}

.nav-flex-row li a {
	font-family:sans-serif;
	
	color:aqua;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
	
}
.nav-flex-row li a:hover{
	background: #100f0f;
}

.section-intro {
	height: 800px;
	background-image: url(assets/cover.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.section-intro h1 {
	text-align: center;
	color: #000;
	font-size: 4em;
	font-weight: 700;
}

.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.link-to-book-wrapper {
	flex: 1;
}

.about-section {
	display: flex;
	align-items: center;
	background-color: #f3f3f3c0;
	padding: 50px 30px;
}

.link-to-book {
	color: #ffffff;
	display: block;
	border: 2px solid #ffffff;
	padding: 5px 10px;
}

a.link-to-book:hover {
	background-color: #ffffff;
	color: #95999e;
	text-decoration: none;
}

.about-section p,
.about-section h3 {
	text-align: center;
	width: 60%;
	margin: auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.8em;
	text-transform: uppercase;
}

.carousel-inner {
	height: 420px;
	
}
.carousel-item active{
	display: flex;
	flex-direction: row;
	margin-top: 0%;

}

.row-flex {
	display: flex;
	flex-direction: row;
}

.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px 20px;
}

.btn.btn-primary {
	font-family: 'Big Shoulders Text', cursive;
	color: #ffffff;
	background-color: #95999e;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 0;
}

.btn.btn-primary:hover {
	background-color: #747474;
}
.opening-time,
.contact-address {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
}

.form-group p {
	font-size: 1.2em;
}

.opening-time p span,
.contact-address p span {
	display: block;
}

@media (min-width:500px) and (max-width: 800px) {

	.section-intro {
		height: 500px;
	}

	.about-section p,
	.about-section h3 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	.section-intro {
		height: 300px;
	}

	.about-section {
		padding: 30px;
	}

	.section-intro h1 {
		font-size: 2em;
	}

	.about-section p,
	.about-section h3 {
		font-size: 15px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}

	.row-flex h3 {
		font-size: 25px;
		text-align: center;
	}

	.form-group p {
		font-size: 15px;
	}

	.opening-time p span,
	.contact-address p span {
		font-size: 15px;
		text-align: center;
	}
}
footer {
	margin: 0;
	padding:0;
	background: #262626;
  }
  
  footer ul {
	display: flex;
	position: absolute;
	top: 305%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
 footer ul li {
	list-style: none;
  }
  
  footer ul li a {
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
  }
  
  footer ul li a .icon {
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
  }
  
  footer ul li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
  }
  
 footer ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 2;
  }
  
  footer ul li a:hover:before {
	top: 0;
  }
  
  footer ul li:nth-child(1) a:before{
	background: #3b5999;
  }
  
  footer ul li:nth-child(2) a:before{
	background: #55acee;
  }
  
 footer ul li:nth-child(3) a:before {
	background: #0077b5;
  }
  
  footer ul li:nth-child(4) a:before {
	background: #dd4b39;
  }
